
<div class="row">
	<div class="col md 4">
		{{burger_name}}
	</div>

	<div class="col">
		<button class="eatit btn btn-light" data-id="{{id}}" data-devournew="{{devour}}">
			EAT THE BURGER!
		</button>
	</div>
</div>